body{
    background-color: #D7CEc7;
}

.e{
    margin-top: 100px;
    margin-left: 350px;
    
}
.fb{
    margin-left: 350px;
    padding-top:50px;
}
.lk{
    margin-left: 350px;
    padding-top: 50px;
}
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    margin-top: -255px;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
    bottom: 100px;
}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}
textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com a label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}
.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
}
.a ul{
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
    font-size: 15px;
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-radius: 1px;
}
.a ul li {
    display: inline; 
}
.a ul li a{
    padding: 3px 20px;
    display: inline-block;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:5px solid #EDEDED;
}
.a ul li a:hover{
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}